<form name="signupForm" ng-submit="signup()" novalidate>
  <div>
    <label for="email">Email</label>
    <input name="email" class="form-control" type="email" id="email" placeholder="Email"
           ng-model="email">
    </div>
  <div>
    <label for="password">Password</label>
    <input name="password" class="form-control" type="password" id="password"
           placeholder="Password" ng-model="password">

  </div>
  <button type="submit" class="btn btn-primary">Sign up!</button>
</form>

